<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

        <servlet>
			<servlet-name>postProduct</servlet-name>
			<servlet-class>com.ecommerce.postProduct</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>postProduct</servlet-name>
			<url-pattern>/postProduct</url-pattern>
		</servlet-mapping>
	
		<servlet>
			<servlet-name>Registration</servlet-name>
			<servlet-class>com.ecommerce.Registration</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Registration</servlet-name>
			<url-pattern>/Registration</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>Login</servlet-name>
			<servlet-class>com.ecommerce.Login</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Login</servlet-name>
			<url-pattern>/Login</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>verifyAccount</servlet-name>
			<servlet-class>com.ecommerce.verifyAccount</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>verifyAccount</servlet-name>
			<url-pattern>/verifyAccount</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>resendCode</servlet-name>
			<servlet-class>com.ecommerce.resendCode</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>resendCode</servlet-name>
			<url-pattern>/resendCode</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>forgetPassword</servlet-name>
			<servlet-class>com.ecommerce.forgetPassword</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>forgetPassword</servlet-name>
			<url-pattern>/forgetPassword</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>forgetPasswordVerify</servlet-name>
			<servlet-class>com.ecommerce.forgetPasswordVerify</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>forgetPasswordVerify</servlet-name>
			<url-pattern>/forgetPasswordVerify</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>updatingPassword</servlet-name>
			<servlet-class>com.ecommerce.updatingPassword</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updatingPassword</servlet-name>
			<url-pattern>/updatingPassword</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>viewProduct</servlet-name>
			<servlet-class>com.ecommerce.viewProduct</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>viewProduct</servlet-name>
			<url-pattern>/viewProduct</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>verifyByLogin</servlet-name>
			<servlet-class>com.ecommerce.verifyByLogin</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>verifyByLogin</servlet-name>
			<url-pattern>/verifyByLogin</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>postComment</servlet-name>
			<servlet-class>com.ecommerce.postComment</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>postComment</servlet-name>
			<url-pattern>/postComment</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>postSlideLink</servlet-name>
			<servlet-class>com.ecommerce.postSlideLink</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>postSlideLink</servlet-name>
			<url-pattern>/postSlideLink</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>showTagProducts</servlet-name>
			<servlet-class>com.ecommerce.showTagProducts</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>showTagProducts</servlet-name>
			<url-pattern>/showTagProducts</url-pattern>
		</servlet-mapping>
		<servlet>
			<servlet-name>Search</servlet-name>
			<servlet-class>com.ecommerce.Search</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Search</servlet-name>
			<url-pattern>/Search</url-pattern>
		</servlet-mapping>
		<error-page>
    		<location>/error.jsp</location>
		</error-page>
</web-app>

